* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 10% 10%;
}

.worklog {
    margin: 0 auto;
    padding-left: 40px;
}

td {
    background-color: lightblue;
    font-size: 1em;
}

th {
    background-color: bisque;
    text-align: left;
}

h1, h2 {
    text-align: left;
}

.offday {
    background-color:rgb(222, 221, 218);
    text-align: center;
}
.empty {
    background-color: transparent;
}

.footer {
    color: black;
    text-align: center;
}

.done {
    background-color: green;
}

nav {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
}

.ul-nav {
    list-style: none;
}