* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 0;
}

.title {
    color: blue;
    text-align: center;
}

table, #blogtable {
    margin: 0 auto;
}

td, th {
    border: 0.5px solid black;
}

td {
    background-color: lightblue;
}

th {
    background-color: bisque;
}

h1, h2 {
    text-align: center;
}

.blogth, .blogtd {
    border: none;
}

#blogtable {
    border: none;
    display: none;
}

.blogtd {
    padding: 10px 10px;
}

.offday {
    background-color:rgb(222, 221, 218);
    text-align: center;
}
.empty {
    border-style: hidden;
    background-color: transparent;
}

.footer {
    color: black;
    text-align: center;
}