:root {
    --header-font-size: 3.5em;
    --paragraph-font-size: 1.5em;
    --button-font-size: 1.2em;
    --section-padding: 50px 20px;
  }
  
  body {
    background-color: #0C3B2E;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hero, .hypothesis, .reach-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: var(--section-padding);
  }
  
  .header, .hypothesis-header, .reach-out-header {
    font-size: var(--header-font-size);
    margin-bottom: 20px;
  }
  
  .supporting-copy, .hypothesis-paragraph, .reach-out-paragraph {
    font-size: var(--paragraph-font-size);
    margin-bottom: 40px;
  }
  
  .cta-button {
    font-size: var(--button-font-size);
    font-family: sans-serif;
    background-color: #FFBA00;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .hypothesis {
    background-color: #6D9773;
    color: white;
  }
  
  .reach-out {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    height: 50vh;
    justify-content: left;
  }
  
  @media screen and (max-width: 600px) {
    :root {
      --header-font-size: 1.5em;
      --paragraph-font-size: 0.8em;
      --button-font-size: 0.8em;
      --section-padding: 20px 10px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    :root {
      --header-font-size: 2.5em;
      --paragraph-font-size: 1em;
      --button-font-size: 1em;
      --section-padding: 40px 15px;
    }
  }
  